ul.photogalleryCategoryNavigation ul {
	margin-left: 1em;
}

	ul.photogalleryCategoryNavigation li.selected a {
		background: yellow;
		padding: 2px 5px;
		border-bottom: 1px solid orange;
	}

		ul.photogalleryCategoryNavigation li.selected li a {
			background: none;
			padding: 0;
			margin-left: 0;
			border: none;
		}

			ul.photogalleryCategoryNavigation li.product a {
				color: #000;
				border-bottom: none;
			}

				ul.photogalleryCategoryNavigation li.product.selected a {
					color: darkred;
					border-bottom: 1px solid orange;
				}

ul.photogalleryLightbox li,
ul.photogalleryDetailLightbox li,
ul.photogalleryPaged li,
ul.photogalleryRelatedByCategories li,
ul.photogalleryRelatedByTags li
{
	float: left;
	margin:0 10px 10px 0;
}

.photogalleryLightbox .caption,
.photogalleryDetailLightbox .caption
{
	display:none;
}

.flexslider a
{
	border: none;
}

.flexslider .caption
{
	position: absolute;
	bottom: 1em;
	left: 1.5em;
	padding-right: 1.5em;	
}