ul.photogalleryLightbox li,
ul.photogalleryDetailLightbox li,
ul.photogalleryPaged li,
ul.photogalleryRelatedByCategories li,
ul.photogalleryRelatedByTags li
{
	float: left;
	margin:0 10px 10px 0;
}

.photogalleryLightbox .caption,
.photogalleryDetailLightbox .caption
{
	display:none;
}

.flexslider a
{
	border: none;
}

.flexslider .caption
{
	position: absolute;
	bottom: 1em;
	left: 1.5em;
	padding-right: 1.5em;	
}