# DEFAULT IGNORE
.project
.cache
.buildpath
.settings
.*.swp
.DS_Store
app/cache/*
app/logs/*
backend/cache/navigation/
vendor/
app/config/parameters.yml
 
# IGNORE ALL...
/app
apple-touch-icon.png
autoload.php
CHANGELOG.md
composer.json
composer.lock
favicon.ico
index.php
/library
LICENSE.md
README.md
/src
tile.png
/tools
UPGRADE_3.6.md
UPGRADE_3.7.md
VERSION.md
/exclude

 
# ...BUT THESE
src/Backend/*
!src/Backend/modules/
src/Backend/modules/*
!src/Backend/modules/photogallery/
!src/Backend/modules/photogallery/*
!src/Backend/modules/photogallery/*/*
!src/Backend/modules/photogallery/*/*/*

src/Frontend/*
!src/Frontend/modules/
src/Frontend/modules/*
!src/Frontend/modules/photogallery/
!src/Frontend/modules/photogallery/*
!src/Frontend/modules/photogallery/*/*
!src/Frontend/modules/photogallery/*/*/*
 
.DS_Store