.project
.cache
.buildpath
.settings
.*.swp
.DS_Store
backend/cache/navigation/
vendor/
app/config/parameters.yml

# Ignore everything:
*

# Except for photogallery:
!backend/modules/photogallery/
!backend/modules/photogallery/*/*
!frontend/modules/photogallery/*
!frontend/modules/photogallery/*/*