.linkOverlayContainer
{
	position: absolute;
}
	
	.linkOverlayContainer .linkOverlayBackground
	{
		background: black; 
		width: 100%;
		height: 100%;
		position: absolute;
	}
	
	.linkOverlayContainer .linkOverlayIcon
	{
		background:  url('images/linkOverlayIconMagnifierWhite.png') no-repeat center center;
		width: 100%;
		height: 100%;
		position: absolute;
	}